.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.voice {
  padding: 8px;
  border: 0;
  outline: 0;
}

@media screen and (min-width: 900px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}
